body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.jumbotron {
    background-color: darkred;
    color: white;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    padding: 10px 10px 10px 10px;
    background: darkred;
    color: white;
    margin-bottom: 10px;
}

.btn-reserva{
    background: darkred;
    color: white;
    border-color: darkgray;
}

